*{
    box-sizing: border-box;
    margin: 0px;
}
.topic{
    background-color: lightgrey;
    padding: 20px;
}
.container{
    background-color: lightgray;
    width: 50vw;
    margin: 50px;
    border: 2px solid cornflowerblue;
    color: cornflowerblue;
    padding: 10px;
}
.picture{
    margin: 10px;
}